<div style="text-align:center">

  <p>{{message}}</p>

  <div *ngIf="currentPlayers.length <= 1; else firstElseBlock">

  </div>
  <ng-template #firstElseBlock>
    <h2>Round {{ roundNumber }}</h2>

    <form (submit)="onSubmit()">
      <div *ngFor="let amount of matches; let i = index; trackBy: trackByFn">
        <h3>Match {{ i + 1 }}</h3>

        <div *ngIf="i === 0; else secondElseBlock">
          <div>
            <input
              type="radio"
              value="{{ currentPlayers[i] }}"
              name="Match{{ i }}"
              [(ngModel)]="roundWinners[i]"
            />
            <label for="{{ currentPlayers[i] }}">{{ currentPlayers[i] }}</label>
          </div>
          <div>
            <input
              type="radio"
              value="{{ currentPlayers[i + 1] }}"
              name="Match{{ i }}"
              [(ngModel)]="roundWinners[i]"
            />
            <label for="{{ currentPlayers[i + 1] }}">{{
              currentPlayers[i + 1]
            }}</label>
          </div>
        </div>

        <ng-template #secondElseBlock>
          <div>
            <input
              type="radio"
              value="{{ currentPlayers[i * 2] }}"
              name="Match{{ i }}"
              [(ngModel)]="roundWinners[i]"
            />
            <label for="{{ currentPlayers[i * 2] }}">{{
              currentPlayers[i * 2]
            }}</label>
          </div>
          <div>
            <input
              type="radio"
              value="{{ currentPlayers[i * 2 + 1] }}"
              name="Match{{ i }}"
              [(ngModel)]="roundWinners[i]"
            />
            <label for="{{ currentPlayers[i * 2 + 1] }}">{{
              currentPlayers[i * 2 + 1]
            }}</label>
          </div>
        </ng-template>
      </div>

      <button type="submit">Complete Round</button>
    </form>

  </ng-template>
</div>
