<div style="text-align:center">
<h2>Register Players</h2>

<div>{{ informationMessage }}</div>

<form (ngSubmit)="registerContestants()">
  <div
    class="contestant-name"
    *ngFor="let value of players; let i = index; trackBy: trackByFn"
  >
    <input
      type="text"
      placeholder="Contestant {{i}}"
      name="contestantName{{i}}"
      [(ngModel)]="players[i]"
    />
  </div>
  <button type="submit">Register Contestants</button><br>
  <button type="button" (click)="autofill(2)">Autofill 2 Players</button>
  <button type="button" (click)="autofill(4)">Autofill 4 Players</button>
  <button type="button" (click)="autofill(8)">Autofill 8 Players</button>
</form>
</div>
